<footer class="page-footer font-small pt-4">

  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer content</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque, deserunt dignissimos facilis itaque minus non praesentium quae quam, quasi recusandae, similique temporibus tenetur. Aut deserunt officia quasi similique ut!</p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>
        <ul class="list-unstyled">
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Content</h5>
        <ul class="list-unstyled">
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
          <li><a>Link 1</a></li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
    </div>
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble"> </i>
        </a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="#"> WebsiteTemplate.com</a>
  </div>
</footer>
