<app-header></app-header>
<div class="container">
  <div class="col-md-12">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda aut consequatur dicta dolorem fugit
      minima modi nesciunt odio pariatur perspiciatis praesentium provident quas quasi quibusdam quis unde vel, velit!
    </div>
    <div>Ab alias asperiores commodi deleniti doloremque ducimus eius, est expedita hic ipsa iure magnam maxime, minus
      perspiciatis quisquam reiciendis repellat rerum ullam vel velit veniam vero vitae. Mollitia quae, sed!
    </div>
    <div>Accusamus asperiores assumenda, cum cumque cupiditate eaque fuga hic in incidunt mollitia nostrum, obcaecati
      omnis quis recusandae, rem sed sequi ullam. Amet consequatur debitis ducimus ipsam provident, quae reiciendis
      reprehenderit.
    </div>
  </div>
</div>
